@font-face {
		font-family: OpenSans-Semibold;
		src: url(fonts/OpenSans-Semibold.ttf);
}

@font-face {
		font-family: OpenSans-Regular;
		src: url(fonts/OpenSans-Regular.ttf);
}


body,html{
	padding: 0;
	margin: 0;
}

.wrapper{
	width: 100%;
	height: 100;
}

.wrapper .header{
	position:absolute;
	top:0;
	left: 0;
	right: 0;
	margin: 0;
	height: 80px;
	font-family: OpenSans-Regular;
}
.wrapper .sidebar{
	width: 20%;
	margin-top:5em;
	float: left;
	overflow: auto;
	border: 1px solid #f5f5f0;
}
.wrapper .container{
	position: absolute;
	margin:5em 0 0 20%;
	width: 79%;
}

.wrapper .container .chart-area{
	width: 57%;
	height: 30em;
	float: right;
	border: 1px solid #f5f5f0;
	overflow: auto;
}
.wrapper .container .code-area{
	height: 30em;
	width: 42%;
	position: absolute;
}
textarea{
	height: 99%;
	width: 100%;
	resize:none;
	color: #000080;
	line-height:1.6;
}

.wrapper .container .chart-attribute-settings{
	margin-top: 30em;
	border: 1px solid #f5f5f0;
	width: 100%;
	height: 12em;
	padding-top: 5px;
	overflow: auto;
	font-family: OpenSans-Regular;
	font-size: 13px;
}

input{
	margin: 5px 7px;
}

select{
	margin: 5px 6px;
}

input[type="text"]{
	width:100px; 
	height:13px; 
}

input[type="number"]{
	width:60px; 
	height:14px; 
	border: solid 1px #dcdcdc;
  	transition: box-shadow 0.3s, border 0.3s;
}

.wrapper .footer{
	position: absolute;
	margin-top: 46em;
	height: 40px;
}

.wrapper .sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
	cursor:pointer;
	display: inline-block;
	padding: 20px;
	font-family: OpenSans-Regular;
	font-size: 13px;
}
.wrapper .sidebar ul li{
padding: 3px 10px;
}
.wrapper .sidebar ul li ul{
	display:none;
}
.wrapper .sidebar ul li ul a{
text-decoration: none;	
padding: 5px 0;
line-height:2;
}

.items_highlight{
	border: 1px solid rgb(169, 169, 169);
	background-color: rgb(245, 245, 220);
}