body,html{
	padding: 0;
	margin: 0;
}

.wrapper{
	width: 100%;
	height: 100;
}

.wrapper .header{
	position:absolute;
	top:0;
	left: 0;
	right: 0;
	margin: 0;
	height: 80px;
}
.wrapper .sidebar{
	width: 20%;
	margin-top:5em;
	border: 1px solid blue;
	float: left;
	overflow: scroll;
}
.wrapper .container{
	position: absolute;
	margin:5em 0 0 20%;
	border:1px solid green;
	width: 80%;
}

.wrapper .footer{
	position: absolute;
	margin-top: 45em;
	height: 50px;
}

.wrapper .sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
	cursor:pointer;
	display: inline-block;
	padding: 20px;
}
.wrapper .sidebar ul li{
padding: 3px 0;
}
.wrapper .sidebar ul li ul{
	display:none;
}
.wrapper .sidebar ul li ul a{
text-decoration: none;	
padding: 5px 0;
line-height:2;
}